
@{
    ViewData["Title"] = "EventDetail";
}

<h2>EventDetail</h2>
<div class="row">
    <div class="col-md-3">
        <img src="~/images/banner1.svg" alt="ASP.NET">
    </div>
    <div class="col-md-3">
        <ul>
            <li>Date</li>
            <li>Title</li>
            <li>Organizer</li>
            <li>Cost</li>
        </ul>
    </div>   
</div>
<hr>
<div>
    <div class="row">
        <div class="col-md-3">
            <!--Share and save options-->
        </div>
        <div class="col-md-3">
            <!--register button-->
        </div>
    </div>
</div>
<hr>
<div>
    <div class="row">
        <div class="col-md-3">
            <h3>Description</h3>
            <p></p><!--Description of event-->
            <h3>Event Details</h3>
            <p></p><!--Extra details of the event-->
            <h3>Tags</h3>
            <!--Tags associated with the event-->
            <h3>Share With Friends!</h3>
            <!--Add sharing using Facebook, Twitter, LinkedIn, Email-->
        </div>
        <div class="col-md-3">
            <h3>Date and Time</h3>
            <p></p><!--Date and time of the event-->
            <h3>Location</h3>
            <p></p><!--Location of the event-->
            <h3>View Map</h3>
            <!--link to the Google map at bottom of page-->            
        </div>
    </div>
</div>
<hr>
<div>
    <h2>Organizer Information</h2>
    <p></p>
    
    <!--MAP-->

</div>



