.esh-app-footer {
    background-color: #f6f6f6;
    border-top: 1px solid #EEEEEE;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    width: 100%;
}

.esh-app-footer-brand {
    max-width: 100% !important;
}

.esh-app-footer-text {
    color: white;
    line-height: 50px;
    text-align: right;
    width: 100%;
} 

