.bg-light {
    background-color: #f6f6f6;
    padding: 10px;
}
/* Row with equal height columns */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

.eventImg {
    width: 700px;
    height: 350px;
}

.padding{
    padding: 10px;
}

.register-button {
    background-color: #53C817;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
}

.register-button.is-disabled {
    opacity: .5;
    pointer-events: none;
}

.register-button:hover {
    background-color: #4a760f;
    transition: all 0.35s;
}

.fancydate {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 30px;
    color: gray;
}

.grayText {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 18px;
    color: gray;
}

