@model WebMvc.ViewModels.WishlistComponentViewModel

@{
    ViewData["Title"] = "My Wishlist";
}

<a class="esh-basketstatus @Model.Disabled"
   asp-area=""
   asp-controller="Wishlist"
   asp-action="Index">
    @if (ViewBag.IsBasketInoperative == true)
    {
    <div class="esh-basketstatus-image">
        <img src="~/images/wish-inoperative.png" />
    </div>
        <div class="esh-basketstatus-badge-inoperative">
            X
        </div>
    }
    else
    {
        <div class="esh-basketstatus-image">
            <img src="~/images/wish.png" />
        </div>
        <div class="esh-basketstatus-badge">
            @Model.ItemsInWishlist
        </div>
    }
</a>