
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">


    @*<div class="container" style="margin-top:10%">
        <div class="row">
            <div class="col-sm-2">
                <img src="~/images/usericongreen.png" />

            </div>

            <div class="col-sm-10">
                <div class="row"> <h2>Wendy Scarlet</h2></div>
                <div class="row"><p>Add number of tickets and favorites</p></div>

                <div class="col-sm-10">

                </div>
            </div>

        </div>*@




    <!-- Container (Tickets Section) -->
    <div id="tickets" class="container">
        <br>

        <h1 class="text-right">Tickets</h1>
        <ul class="nav nav-tabs" style="font-family: Montserrat, sans-serif; font-size: 20px">
            <li class="active"><a data-toggle="tab" href="#home">Upcomming</a></li>
            <li><a data-toggle="tab" href="#past">Past</a></li>
            <li><a data-toggle="tab" href="#canceled">Canceled</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h2>Are you excited?</h2>
                <p>This are the events comming up soon!!</p>
            </div>
            <div id="past" class="tab-pane fade">
                <h2>Events you attended</h2>
                <p>We hope you enjoyed it as much as we did.</p>
            </div>
            <div id="canceled" class="tab-pane fade">
                <h2>Tickets Canceled</h2>

            </div>
        </div>
    </div>


    <script>
                    $(document).ready(function () {
                        // Initialize Tooltip
                        $('[data-toggle="tooltip"]').tooltip();

                        // Add smooth scrolling to all links in navbar + footer link
                        $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                            // Make sure this.hash has a value before overriding default behavior
                            if (this.hash !== "") {

                                // Prevent default anchor click behavior
                                event.preventDefault();

                                // Store hash
                                var hash = this.hash;

                                // Using jQuery's animate() method to add smooth page scroll
                                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                                $('html, body').animate({
                                    scrollTop: $(hash).offset().top
                                }, 900, function () {

                                    // Add hash (#) to URL when done scrolling (default click behavior)
                                    window.location.hash = hash;
                                });
                            } // End if
                        });
                    })
    </script>

</body>


