@model WebMvc.Models.Event

@{
    ViewData["Title"] = "EventCreate";
}

<h2>Event Create</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EventCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Event Title</label>
                <input asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label">Location</label>
                <input asp-for="@Model.Address" class="form-control" placeholder="Search for a venue or address" />
                <span asp-validation-for="Address" class="text-danger"></span><br />
                <input asp-for="City" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span><br />
                <input asp-for="State" class="form-control" placeholder="State" />
                <span asp-validation-for="State" class="text-danger"></span><br />
                <input asp-for="Zipcode" class="form-control" placeholder="Zip/Postal" />
                <span asp-validation-for="Zipcode" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">STARTS</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">ENDS</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                @* <input asp-for="ImageUrl" class="form-control" />*@
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EventType" class="control-label"></label>
                <input asp-for="EventType" class="form-control" />
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventCategory" class="control-label"></label>
                <input asp-for="EventCategory" class="form-control" />
                <span asp-validation-for="EventCategory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrganizerName" class="control-label"></label>
                <input asp-for="OrganizerName" class="form-control" />
                <span asp-validation-for="OrganizerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDescription" class="control-label"></label>
                <textarea class="form-control"
                          id="EventDescription"
                          name="EventDescription"
                          rows="5"
                          cols="20"></textarea>
                <span asp-validation-for="EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizerDescription" class="control-label"></label>
                <textarea class="form-control"
                          id="OrganizerDescription"
                          name="OrganizerDescription"
                          rows="5"
                          cols="20"></textarea>
                <span asp-validation-for="OrganizerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@*  <div class="container-fluid">
      <div class="row">
          <h2 class="demo-text">A demo of jQuery / Bootstrap based editor</h2>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 nopadding">
                      <textarea id="demo-editor-bootstrap"></textarea>
                  </div>
              </div>
          </div>
      </div>
    </div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
