.esh-event-hero {
    background-image: url("../../images/main_banner.png");
    background-size: cover;
    height: 260px;
    width: 100%;
}


.esh-event-filters {
    background-color: #00A69C;
    height: 65px;
}
.esh-eventcity-filters {
    background-color: #00A69C;
    height: 40px;
}
.esh-event-filter {
    background-color: transparent;
    border-color: #00d9cc;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: .5rem;
    outline-color: #83D01B;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    min-width: 140px;
    -webkit-appearance: none;
}

.esh-eventcity-filter {
    background-color: transparent;
    border-color: #00d9cc;
    color: #00d9cc;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: .5rem;
    outline-color: #83D01B;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    min-width: 140px;
    -webkit-appearance: none;
}
    .esh-event-filter option {
        background-color: #00A69C;
    }

.esh-event-label {
    display: inline-block;
    position: relative;
    z-index: 0;
}

    .esh-event-label::before {
        color: rgba(255, 255, 255, 0.5);
        content: attr(data-title);
        font-size: 0.65rem;
        margin-top: 0.65rem;
        margin-left: 0.5rem;
        position: absolute;
        text-transform: uppercase;
        z-index: 1;
    }

    .esh-event-label::after {
        background-image: url("../../images/arrow-down.png");
        height: 7px;
        content: '';
        position: absolute;
        right: 1.5rem;
        top: 2.5rem;
        width: 10px;
        z-index: 1;
    }

.esh-event-send {
    background-color: #83D01B;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    transform: translateY(.5rem);
    padding: 0.5rem;
    transition: all 0.35s;
}

    .esh-event-send:hover {
        background-color: #4a760f;
        transition: all 0.35s;
    }

.esh-event-items {
    margin-top: 1rem;
}

.esh-event-item {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 33%;
    display: block;
    float: none !important;
}

@media screen and (max-width: 1024px) {
    .esh-event-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .esh-event-item {
        width: 100%;
    }
}

.esh-event-thumbnail {
    max-width: 370px;
    width: 100%;
}

.esh-event-button {
    background-color: #53C817;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    transition: all 0.35s;
    width: 80%;
}
    .esh-event-button.is-disabled {
        opacity: .5;
        pointer-events: none;
    }

    .esh-event-button:hover {
        background-color: #4a760f;
        transition: all 0.35s;
    }

.esh-event-address {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: gray;
}
.esh-event-title {
    position: relative;
   
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 1rem;
    font-weight: 800;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.esh-event-price {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: gray;
}

    .esh-event-price::before {
        content: '$';
        color: gray;
    }
.esh-event-price-free {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: gray;
}
.esh-event-date{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: gray;
}
.esh-order-date {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: gray;
}

.esh-event-category {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    color: gray;
}
.esh-event-category::before {
    content: '#';
    color: gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #000080 */
}

li {
    float: left;
    
}

    li a {
        display: block;
        padding: 8px;
        /*background-color: #000080; */
        font-size: 1rem;
        font-weight: 200;
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
        text-align: center;
        text-transform: uppercase;
        float:left;
        
    }

        li a:hover {
            background-color: #f1f1f1;
        }

    .esh-menu-item  {
        display: inline;
        padding: 8px;
        /*background-color: #000080; */
        font-size: 1rem;
        font-weight: 200;
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
        text-align: center;
        text-transform: uppercase;
        float: left;
    }

        .esh-menu-item:hover {
            background-color: #f1f1f1;
        }

.esh-header-signin {
    display: inline-block;
    padding: 8px;
    
    font-size: 1rem;
    font-weight: 200;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
   /* text-transform: uppercase; */
   
}

    .esh-header-signin:hover {
        background-color: #f1f1f1;
    }
