.esh-identity {
    line-height: 3rem;
    position: relative;
    text-align: right;
}

.esh-identity-section {
    display: inline-block;
    width: 100%;
}

.esh-identity-name {
    display: inline-block;
  
}

.esh-identity-name--upper {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .esh-identity-name {
        font-size: 0.85rem;
    }
}

.esh-identity-image {
    display: inline-block;
}

.esh-identity-drop {
    /*background: #FFFFFF; */
    background: #ff69b4 ;
    height:0;
    min-width: 14rem;
     right: 0;
    overflow:auto;
    padding: .5rem;
    position: absolute;
    top: 1.5rem;
    transition: height 1s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    text-align:center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
            
        }

.dropdown:hover .dropdown-content {
    display: block
        
}

.esh-identity:hover .esh-identity-drop {
    border: 1px solid #EEEEEE;
    height: 7rem;
    transition: height 1s;
}

.esh-identity-item {
    cursor: pointer;
    display: block;
    transition: color 1s;
}

    .esh-identity-item:hover {
        color: #75b918;
        transition: color 1s;
      
    }



.bg-light {
    background-color: #f6f6f6;
}
/* Row with equal height columns */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.eventImg {
    width: 200px;
    height: 100px;
}