<div class="dropdown-content">

    <a class="esh-identity-item" href="@Url.Action("Index", "EventCreation")">
        <span>Create Events</span>
    </a>
    <a class="esh-identity-item" href="@Url.Action("Index", "OrderTicket")">
        <span>Tickets</span>
    </a>

    <a class="esh-identity-item" href="@Url.Action("About", "Home")">
        <span>WishList</span>
    </a>

    <a class="esh-identity-item"
       href="javascript:document.getElementById('logoutForm').submit()">

        <div class="esh-identity-name esh-identity-name--upper">Log Out</div>
        <img class="esh-identity-image" src="~/images/logout.png">
    </a>
</div>