<div class="dropdown-content">

    <a class="esh-identity-item" href="@Url.Action("Index", "EventCreation")">
        <span>Create Event</span>
    </a>
    <a class="esh-identity-item" href="@Url.Action("Index", "OrderTicket")">
        <span>Tickets</span>
    </a>

    <a class="esh-identity-item" href="@Url.Action("About", "Home")">
        <span>WishList</span>
    </a>


</div>