@model WebMvc.Models.Order.Order




<form asp-controller="OrderTicket" asp-action="Index" method="post">
    <img class="class=" img-fluid img-thumbnail"" src=@Model.PictureUrl style="width:320px;height:150px" />


    <div>
        <a href="" class="esh-event-title"><span>@Model.EventTitle</span></a>
        <span class="badge" style="right:auto;background-color: #468847; font-size: 14px">@Model.NumTotalTickets</span>
    </div> 

    <div>

        <span>@Model.Address</span>

    </div>

    <div class="esh-order-date">

        <span>@Model.EventStartDate.ToShortDateString()</span>

    </div>



</form>
